[submodule "fuzzer/erlfuzz"]
	path = fuzzer/erlfuzz
	url = git@github.com:software-mansion-labs/erlfuzz.git
[submodule "elixir"]
	path = examples/hexdocs/elixir
	url = git@github.com:software-mansion-labs/elixir-docs-wasm.git
[submodule "ex_doc"]
	path = examples/hexdocs/ex_doc
	url = git@github.com:software-mansion-labs/exdoc-wasm.git
