**/config/*.secret.exs

# Elixir build artifacts
_build/
elixir/popcorn_runtime_source/
cover/
deps/
doc/
.fetch
erl_crash.dump
*.ez
popcorn-*.tar
tmp/

# Node
node_modules/

# MacOS specific
.DS_Store

# Local environment
.env
