<html>
<style>
  body {
    font-size: 1.5em;
    font-family: sans-serif;
    padding: 1em;
    color: #fcfcfc;
  }
</style>
<body>
  <p
    style="background:#222;border:1px solid #555;border-radius:3px;padding:0.7em 0.9em;color:#ccc;margin:0 auto 1em;max-width:600px;font-size:0.75em;line-height:1.6;font-family:monospace">
    Press space to play/pause, W/S or ↑/↓ to move.
    Note that opening the devtools makes the browser switch to the slower WASM engine,
    which slows the game down.
    The source code is available
    <a href="https://github.com/software-mansion/popcorn/tree/main/examples/local-lv-pong"
      style="color:#fff;font-weight:600;text-decoration:underline">here</a>.
  </p>
  <.local_live_view view="Local.PongLive" />
</body>
</html>