<div class="page">
<div class="half" id="left-half">
  <%= live_render(@conn, CompareLiveViewsWeb.DemoModalOnline, session: %{}) %>
</div>

<div class="half" id="right-half">
  <script type="module" src="./local_live_view/local_live_view.js" defer></script>
  <div data-pop-view="DemoModalOffline"></div>
</div>
</div>