---
import Layout from "../../layouts/Layout.astro";
import Section from "../../components/Section.astro";
---

<Layout>
  <Section background="light">
    <header class="mb-4 text-center">
      <h1
        class="font-handjet text-brown-header mb-4 text-4xl font-bold md:text-6xl"
      >
        Local thermostat
      </h1>
      <p class="mx-auto mt-4 max-w-2xl leading-6">
        This example consists of two live view components powered by Popcorn. It
        allows them to work fully locally, without any server for updates.
      </p>
      <p class="mt-3">
        Temperature control demonstrates mouse events, the datetime control
        demonstrates use of timers.
      </p>
    </header>
    <div
      class="bg-light-20 border-brown-header mx-auto mt-8 max-w-md overflow-hidden rounded-2xl border-2 shadow-lg"
    >
      <div
        data-pop-view="ThermostatLive"
        id="ThermostatLive"
        class="from-light-20 to-light-30 flex flex-col items-center gap-6 bg-gradient-to-br p-8"
      >
      </div>
      <div
        data-pop-view="ClockLive"
        id="ClockLive"
        class="font-handjet text-light-20 bg-brown-header p-4 text-center text-2xl tracking-wide"
      >
      </div>
    </div>
    <div
      class="bg-light-20 border-brown-header mx-w-md mt-8 overflow-hidden rounded-2xl border-2 p-4 shadow-lg"
    >
      <pre>
      <code is:raw>
defmodule ThermostatLive do
  use LocalLiveView

  def render(assigns) do
    ~H&quot;&quot;&quot;
    &lt;p&gt;Current temperature: {@temperature}&deg;C&lt;/p&gt;
    &lt;div class=&quot;thermostat-controls&quot;&gt;
      &lt;button pop-click=&quot;inc_temperature&quot; class=&quot;ghost-button&quot;&gt;+&lt;/button&gt;
      &lt;button pop-click=&quot;dec_temperature&quot; class=&quot;ghost-button&quot;&gt;-&lt;/button&gt;
    &lt;/div&gt;
    &lt;p&gt;Country: {@country}&lt;/p&gt;
    &quot;&quot;&quot;
  end

  def mount(_params, _session, socket) do
    temperature = 25
    country = &quot;Poland&quot;

    socket =
      socket
      |&gt; assign(:temperature, temperature)
      |&gt; assign(:country, country)

    {:ok, socket}
  end

  def handle_event(&quot;inc_temperature&quot;, _params, socket) do
    {:noreply, update(socket, :temperature, &amp;(&amp;1 + 1))}
  end

  def handle_event(&quot;dec_temperature&quot;, _params, socket) do
    {:noreply, update(socket, :temperature, &amp;(&amp;1 - 1))}
  end
end

      </code>
    </pre>
    </div>
  </Section>
</Layout>

<style is:global>
  .thermostat-controls {
    display: flex;
    gap: 1rem;
  }

  .ghost-button {
    width: 3.5rem;
    height: 3.5rem;
    padding: 0;
    border: 2px solid #58330c;
    background: transparent;
    color: #58330c;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ghost-button:hover {
    background: #ef7c00;
    border-color: #ef7c00;
    color: #fffdf5;
    transform: scale(1.1);
  }

  .ghost-button:active {
    transform: scale(0.95);
  }

  .ghost-button:disabled {
    color: gray;
    border: 2px solid gray;
  }
  .ghost-button:disabled:hover {
    color: gray;
    background-color: transparent;
    box-shadow: none;
    cursor: auto;
  }
</style>

<script>
  import { Socket } from "phoenix";
  import { LiveSocket } from "phoenix_live_view";
  import { setup } from "local_live_view";

  async function init() {
    const liveSocket = new LiveSocket("/live", Socket, {
      params: {},
    });

    await setup(liveSocket, {
      bundlePath: "/wasm/local_thermostat.avm",
    });

    liveSocket.connect();
  }

  document.addEventListener("DOMContentLoaded", init);
  document.addEventListener("astro:page-load", init);
</script>
