.cm-editor {
  border-bottom-left-radius: 0.375rem;
  height: 100%;
  min-height: 500px;
}

@media screen and (min-width: 1024px) {
  .cm-editor {
    min-height: 0;
  }
}

.cm-scroller {
  flex-grow: 1;
  scrollbar-width: thin;
}

.cm-focused {
  outline: none !important;
}

.cm-gutters {
  border-bottom-left-radius: 0.375rem;
}
