<footer class="z-100 flex flex-col items-center pb-8">
  <p class="mb-4">
    <a href="https://swmansion.com/privacy/policy" class="underline" target="_blank">
      Privacy Policy
    </a>
  </p>

  <p>Created by</p>
  <p class="font-bold">
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://swmansion.com"
      class="underline">Software Mansion</a
    >
  </p>
</footer>
