:root {
    --swm-header: #001a72;
    --swm-text: #232736;
    --swm-background: #fcfcff;
    --swm-yellow-40: #ffd61e;
    --swm-red-100: #ff6259;
    --swm-green-100: #57b495;
    --swm-blue-100: #38acdd;
}

@media (prefers-color-scheme: dark) {
    :root {
        --swm-header: #fcfcff;
        --swm-text: #c1c6e5;
        --swm-background: #232736;
        --swm-yellow-100: #fd4;
        --swm-red-100: #ff7774;
        --swm-green-100: #3fc684;
        --swm-blue-100: #00a9f0;
    }
}

body {
    margin: 40px auto;
    padding: 0 15px;
    font-size: 18px;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: var(--swm-text);
    background-color: var(--swm-background);
}
