---
import { Icon } from "astro-icon/components";
---

<div
  id="language-tour-banner"
  class="flex items-center justify-center gap-4 bg-orange-100 px-4 py-1 text-white"
>
  <div class="flex-1 text-center">
    <span class="text-sm">
      Check out <a
        href="https://elixir-language-tour.swmansion.com"
        target="_blank"
        rel="noopener noreferrer"
        class="font-medium underline hover:no-underline">Elixir language tour</a
      >!
    </span>
  </div>

  <button
    id="close-banner"
    class="hover:bg-orange-20 hover:bg-opacity-20 flex-shrink-0 rounded p-1 transition-colors duration-200"
    aria-label="Close banner"
  >
    <Icon name="close" />
  </button>
</div>

<script>
  import { onPageLoad } from "../scripts/utils";

  async function initBanner() {
    const banner = document.getElementById("language-tour-banner");
    const closeButton = document.getElementById("close-banner");
    if (banner === null || closeButton === null) {
      return;
    }

    closeButton.addEventListener("click", () => {
      banner.style.display = "none";
    });
  }

  onPageLoad(initBanner);
</script>
