---
import ExampleCard from "./ExampleCard.astro";
import Section from "./Section.astro";
import LeadingElement from "./LeadingElement.astro";
import HeaderTitle from "./HeaderTitle.astro";

import gameOfLife from "../assets/gol.png";
import evalExample from "../assets/eval.png";
---

<Section id="examples" background="dark">
  <HeaderTitle>See what’s possible with Popcorn. </HeaderTitle>
  <LeadingElement title="Examples" color="dark" />

  <div class="flex flex-col gap-10">
    <ExampleCard
      n="01"
      title="Elixir REPLasdfadf"
      href="/demos/eval"
      image={evalExample}
    >
      <Fragment slot="description">
        Remember the first time you fired up iex? With Popcorn, you can write
        and run Elixir code in the browser. Type code and see it execute
        instantly with real-time results and logging.
      </Fragment>
    </ExampleCard>
    <!-- <ExampleCard
      n="02"
      title="Interactive docs"
      href="/demos/docs"
      image="https://placehold.co/500x300/059669/ffffff?text=Interactive+Docs"
    >
      <Fragment slot="description">
        We know that you know Elixir's documentation very well. But how about
        interactive snippets? Click on code examples and see them run instantly.
      </Fragment>
    </ExampleCard> -->
    <ExampleCard
      n="02"
      title="Game of life"
      href="/demos/game-of-life"
      image={gameOfLife}
    >
      <Fragment slot="description">
        Here's John Conway's famous cellular automaton. The only difference is
        that this time, every cell is a process – brought to life with Popcorn.
      </Fragment>
    </ExampleCard>
    <ExampleCard
      n="03"
      title="Local Thermostat"
      href="/demos/local-thermostat"
      image={gameOfLife}
    >
      <Fragment slot="description">
        An example application that uses LocalLiveView.
        LocalLiveView is a project that aims to store, update and render the assigns similarly to Phoenix LiveView but 
        using Popcorn API.
      </Fragment>
    </ExampleCard>
    <ExampleCard
       n="04"
       title="Local Forms"
       href="/demos/local-forms"
       image={gameOfLife}
    >
      <Fragment slot="description">
        An example application that uses LocalLiveView.
        LocalLiveView is a project that aims to store, update and render the assigns similarly to Phoenix LiveView but
        using Popcorn API.
      </Fragment>
    </ExampleCard>
  </div>
</Section>
