<footer class="flex flex-col items-center pb-8">
  <p>Created by</p>
  <p class="font-bold">
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://swmansion.com"
      class="underline">Software Mansion</a
    >
  </p>
</footer>
