---
const { class: className } = Astro.props;

export const headerClass =
  "font-handjet max-w-5xl text-center text-[80px] leading-none font-semibold tracking-normal text-orange-100 md:text-[200px]";
---

<h1 class:list={[headerClass, className]}>
  <slot />
</h1>
