---
import Section from "./Section.astro";
---

<Section
  id="info"
  background="dark"
  class="flex flex-col gap-4 max-w-3xl font-bold md:text-[40px] text-2xl"
>
  <p>
    Popcorn is an open-source library distributed under the Apache License ver.
    2.0, so feel free to use it in your projects. And if you want to create
    something bigger – like introducing Popcorn to your enterprise-grade
    solution – make sure to drop us a line.
  </p>
  <p>
    Since 2012, we’ve been building web and mobile apps here at Software
    Mansion, becoming core contributors of React Native and leading Elixir
    experts. Hire us and we’ll build your next dream product together.
  </p>
</Section>
