---
import Section from "./Section.astro";
---

<Section
  id="info"
  background="dark"
  class="flex max-w-3xl flex-col gap-4 text-2xl font-bold md:text-4xl"
>
  <p>
    Popcorn is open-source and licensed under <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://github.com/software-mansion/popcorn/blob/main/LICENSE"
      class="underline">Apache 2.0</a
    >. You’re free to use it in personal and commercial projects.
  </p>
  <p>
    Need help with something bigger? We’re <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://swmansion.com"
      class="underline">Software Mansion</a
    > – a software development company, React Native core contributors, and Elixir
    experts. Get in touch and let’s build your product together.
  </p>
</Section>
