---
import { Icon } from "astro-icon/components";
import Button, { buttonGroupClass } from "./Button.astro";
import Section from "./Section.astro";
---

<Section id="intro" background="light">
  <Icon name="logo" class="text-8xl text-brown-header" />
  <h1
    class="lg:text-[200px] md:text-[120px] text-[80px] mb-7 font-handjet font-semibold tracking-normal leading-none text-brown-70"
  >
    Popcorn it.
  </h1>
  <h2
    class="lg:text-[60px] md:text-[40px] text-[32px] font-handjet text-orange-100"
  >
    Compile. Run. Pop.
  </h2>
  <p
    class="mt-8 lg:text-3xl md:text-2xl text-base text-black font-normal max-w-3xl text-center"
  >
    Bring Elixir to the browser — no hacks, no JS rewrites,<br />just pure
    Popcorn power.
  </p>
  <div class={buttonGroupClass}>
    <Button title="See it in action" type="primary" href="#examples" />
    <Button title="Get started" type="secondary" href="#" />
  </div>
</Section>
