---

---

<div
  id="3d-kernel"
  class="pointer-none fixed top-0 left-0 -z-10 h-screen w-full"
>
</div>

<script>
  import { initModel } from "../scripts/3dModel";
  import { onPageLoad } from "../scripts/utils";

  await onPageLoad(async () => {
    await initModel({
      path: "/seed.glb",
      containerId: "3d-kernel",
      cameraDistance: 8,
      horizontalAutoRotate: true,
      sectionConfig: {
        info: {
          position: { x: 0, y: 0 },
          scale: 0,
        },
        outtro: {
          position: { x: 0, y: 0 },
          scale: 1,
        },
      },
    });
  });
</script>
