---
interface Props {
  color: "light" | "dark";
  title: string;
}

const { color, title } = Astro.props;

const titleClass = color === "light" ? "text-black" : "text-white";
const lineClass = color === "light" ? "bg-black" : "bg-white";
---

<div class="mt-8 mb-16 flex flex-col items-center gap-6">
  <h4 class:list={["text-2xl uppercase", titleClass]}>{title}</h4>
  <div class:list={["h-[200px] w-px", lineClass]}></div>
</div>
