---
import Button from "./Button.astro";
import HeaderTitle from "./HeaderTitle.astro";
import LeadingElement from "./LeadingElement.astro";
import Section from "./Section.astro";
---

<Section id="outtro" background="light" class="mb-20 lg:mb-20">
  <HeaderTitle>Let us know about your needs.</HeaderTitle>
  <LeadingElement title="Contact us" color="light" />
  <Button
    title="Drop us a line"
    type="primary"
    href="mailto:popcorn@swmansion.com"
  />
</Section>
<div class="flex flex-col items-center pb-8">
  <p>Created by</p>
  <p class="text-[20px] font-bold">
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://swmansion.com"
      class="underline">Software Mansion</a
    >
  </p>
</div>
