---
import Button from "./Button.astro";
import LeadingElement from "./LeadingElement.astro";
import Section from "./Section.astro";
---

<Section id="outtro" background="light">
    <h1
        class="text-[200px] font-handjet font-semibold tracking-normal text-center leading-none text-orange-100"
    >
        Looking for more than just a library?
    </h1>
    <LeadingElement title="Contact us" color="light" />
    <Button title="Drop us a line" type="primary" href="#" />
</Section>
<div class="flex flex-col items-center pb-8">
    <p>Created by</p>
    <p class="font-bold">Software Mansion</p>
</div>
