---
import Button from "./Button.astro";
import HeaderTitle from "./HeaderTitle.astro";
import LeadingElement from "./LeadingElement.astro";
import Section from "./Section.astro";
---

<Section id="outtro" background="light" class="pb-20 lg:pb-20">
  <HeaderTitle>Let us know about your needs.</HeaderTitle>
  <LeadingElement title="Contact us" color="light" />
  <Button
    title="Drop us a line"
    type="primary"
    href="mailto:popcorn@swmansion.com"
  />
</Section>
