---
import Step from "./Step.astro";
import Section from "./Section.astro";
---

<Section id="features" background="light" class="gap-20 md:gap-36">
  <Step n="01" title="Elixir, meet WebAssembly.">
    <Fragment slot="title">Compile your Elixir to Wasm.</Fragment>
    <Fragment slot="description">
      Popcorn bridges your Elixir code with Wasm-compiled AtomVM runtime. No
      need to learn a new language – just use the one you already love.
    </Fragment>
  </Step>
  <Step n="02" title="Your code is great.">
    <Fragment slot="title">Use your existing code without any changes.</Fragment
    >
    <Fragment slot="description"
      >With Popcorn, you don’t need to rewrite or refactor your code. It runs
      plain Elixir as-is (including OTP patterns and supervision trees) right
      inside the browser.
    </Fragment>
  </Step>
  <Step n="03" title="No internet? No problem.">
    <Fragment slot="title">Run everything in the browser</Fragment>
    <Fragment slot="description"
      >Popcorn runs fully in-browser, which makes it ideal for many use cases,
      like offline, local-first applications. No servers or internet connection
      required.</Fragment
    >
  </Step>
  <!-- <Step n="04">
    <Fragment slot="title"></Fragment>
    <Fragment slot="description"> </Fragment>
  </Step> -->
</Section>
